.card {
    background-color: #0a192f;
    box-shadow: 0 0 10px #fff;
}

.projects {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: top;
    transition: ease-in-out 5s;
}

.card:hover .projects {
    background-position: bottom;
}

